// ======================================================
// Base :: Colors
// ======================================================

$cl-orange: #ff6b00;
$cl-dark-orange: #e46000;
$cl-light-orange: #ff9359;
$cl-black: #373737;
$cl-dark-gray: #888;
$cl-gray: #b5b5b5;
$cl-gray-1: #dee2e6;
$cl-light-gray: #f0f0f0;
$cl-blue: #3471eb;
$cl-dark-blue: #083ea9;
$cl-white: #fff;
$cl-red: #ec3f3f;
$cl-green: #43aa49;
$cl-pink: #f05151;
$cl-light-pink: #fa8383;
$cl-sky: #4a90e2;
$cl-yellow: #f1a336;
