// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================

body {
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  background: $cl-white;
  font-size: 13px;
  color: $cl-black;
}

img {
  vertical-align: middle;
}

a {
  color: $blue;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}

.h1 {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.h2 {
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
}

.h3 {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

.require {
  color: $cl-red;
  font-weight: $font-weight-light;
}
