include ../page-list/_page-list
include ../_button
include ../_input
include ../_textarea
include ../_checkbox
include ../_selectbox
include ../_radio
include ../_list-color
include ../_head
include ../_header
include ../_footer

doctype html
html(lang='en')
  head
    block head

  body
    block body

    block scripts
      script(src='js/main.js')
