// ======================================================
// Components :: Button
// ======================================================

.button {
  font-weight: $font-weight-bold;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  border-radius: 2px;
  padding: 0 20px;
  transition: all .25s ease;
  min-width: 140px;

  &--primary {
    background-color: $cl-orange;
    color: $cl-white;

    &:hover {
      background-color: $cl-dark-orange;
      color: $cl-white;
      box-shadow: 0 2px 10px 0 rgba($cl-orange, .2);
    }

    &.button--disabled:hover {
      background-color: $cl-orange;
      color: $cl-white;
    }
  }

  &--secondary {
    background-color: $cl-dark-gray;
    color: $cl-white;

    &:hover {
      background-color: $cl-black;
      color: $cl-white;
      box-shadow: 0 2px 10px 0 rgba($cl-black, .1);
    }

    &.button--disabled:hover {
      background-color: $cl-dark-gray;
      color: $cl-white;
    }
  }

  &--olight {
    background-color: $cl-white;
    color: $cl-orange;
    border: 1px solid $cl-orange;

    &:hover {
      border-color: $cl-dark-orange;
      color: $cl-dark-orange;
    }

    &.button--disabled:hover {
      border: 1px solid $cl-orange;
      color: $cl-dark-orange;
    }
  }

  &--blight {
    background-color: $cl-white;
    color: $cl-black;
    border: 1px solid $cl-dark-gray;
    font-weight: $font-weight-base;

    &:hover {
      border-color: $cl-black;
    }

    &.button--disabled:hover {
      border: 1px solid $cl-dark-gray;
    }
  }

  &--disabled {
    opacity: .4;
  }

  &--xsmall {
    padding: 0 25px;
    height: 24px;
    line-height: 22px;
    font-size: 11px;
    font-weight: 500;
  }

  &--small {
    padding: 0 25px;
    height: 32px;
    line-height: 30px;
    font-size: 11px;
    font-weight: 500;
  }

  &--large {
    padding: 0 30px;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
  }

  &--full {
    display: block;
    width: 100%;
  }

  &__icon {
    color: inherit;
    font-size: 14px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -.125em;
  }

  &__icon--after {
    margin-left: 12px;
  }
}
